doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title Main
    |     
    style(media='screen').
      html {
      background: url(https://i.pinimg.com/originals/61/88/8f/61888f867b9f09bd8b4631bbcf3dc971.jpg) no-repeat center center fixed;
      background-size: 1540px 762px;
      }
      .container {
      position: relative;
      width: 100%;
      max-width: 10000px;
      }
      .container img {
      width: 1000%;
      height: auto;
      }
  |   
  body
    
    form(method='post')
      input(type='text', size='80', name='query')
      |    
      input.submitButton(type='submit', value='Search')
    .container
      a(href='/ingredient')
        // ingredient
        b Mint------
      a(href='/menu')
        // menu
        b Aof-------
      a(href='/cashier')
        // cashier
        b Pop--------
      a(href='/order')
        // order
        b PPorder-----
      a(href='/delivery')
        // delivery
        b PPdelivery-----
