doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Page Ingredient
    // Bootstrap CSS
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/9f82b43210.js' crossorigin='anonymous')
  body(style='background: pink')
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      ul.navbar-nav.mr-auto.navbar-light
        li.nav-item.active
          .nav-item.dropdown
            button.btn.btn-dark(type='button' data-toggle='dropdown')
              i.fas.fa-bars
            .dropdown-menu.bg-dark(style='text-align: left; width: 267px; height: 744px; margin-left: -17px;')
              a.navbar-brand.text-light
                br
                img(src='https://i.pinimg.com/originals/01/a2/f6/01a2f6fb22f674549fc40a6efa3e9c98.png' alt='logo' style='width:75px; padding-left: 25px;')
                |                 Staff Name: Mint
                br
                br
              a.dropdown-item(style='color: black;' href='/ingredient')
                img(src='https://i.pinimg.com/originals/3d/ec/73/3dec73eefb1eb4fdae1a7a0e49b5c936.png' alt='logo' style='width: 45px; margin-left: 10px;')
                | -->ข้อมูลวัตถุดิบ
              hr(width='200px' size='5' color='white')
              a.dropdown-item(style='color: black;' href='/index')
                img(src='https://i.pinimg.com/originals/19/b3/b3/19b3b369892b34d4c4367bd6494529a4.png' alt='logo' style='width: 45px; margin-left: 10px;')
                | -->ข้อมูลของหวาน
              hr(width='200px' size='5' color='white')
              a.dropdown-item(style='color: black;' href='/cashier')
                img(src='https://i.pinimg.com/originals/93/c6/be/93c6be305c1d7d3a0dd02993ff031f69.png' alt='logo' style='width: 45px; margin-left: 10px;')
                | -->ข้อมูลการขาย
              hr(width='200px' size='5' color='white')
              a.dropdown-item(style='color: black;' href='/cook')
                img(src='https://i.pinimg.com/originals/98/82/ec/9882ec514a7646b304d06f8f42a15a0c.png' alt='logo' style='width: 45px; margin-left: 10px;')
                | -->ข้อมูลฝ่ายห้องครัว
              hr(width='200px' size='5' color='white')
              a.dropdown-item(style='color: black;' href='#')
                img(src='https://i.pinimg.com/originals/5c/44/92/5c44929ceecbafc93b5bf1320aeb574f.png' alt='logo' style='width: 45px; margin-left: 10px;')
                | -->ข้อมูลการจัดส่ง
              hr(width='200px' size='5' color='white')
              br
              .container-sm
                button.btn.btn-danger.btn-block(type='button') Logout
        li.nav-item
          a.nav-link(href='/ingredient') ตารางจัดการข้อมูลวัตถุดิบ
        li.nav-item
          a.nav-link(href='/topping') ตารางจัดการข้อมูลท็อปปิ้ง
        li.nav-item
          a.nav-link(href='/menu') ตารางจัดการข้อมูลเมนูของหวาน
      // Brand/logo
      a.navbar-brand MamaPenguin
      img(src='https://i.pinimg.com/originals/13/b9/9a/13b99aab8bc10571cb6d0fc155f05a12.png' alt='logo' style='width:40px;')
    .container.p-3.my-3
      h1.text-black.text-center ตารางจัดการข้อมูลวัตถุดิบ
      hr(width='45%' style='border: 2px solid rgb(250, 247, 247);')
    // ส่วนของ การกด +add แล้วจะขึ้น Modal ขึ้นมาให้กรอกข้อมูลเพิ่มรายการวัตถุดิบ
    .container
      // Button to Open the Modal
      button.btn.btn-primary(type='button' data-toggle='modal' data-target='#myModal')
        | +Add Ingredient
    // The Modal
    #myModal.modal.fade
      .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title เพิ่มรายการวัตถุดิบ
            button.close(type='button' data-dismiss='modal') ×
          // Modal body
          .modal-body
            form(action='/action_page.php')
              .form-group
                label(for='name') Name:
                input#name.form-control(type='text' placeholder='Name Ingredient')
              .form-group
                label(for='amount') Amount:
                input#amount.form-control(type='number' min='1' max='100' value='0' placeholder='Amount Ingredient')
              .form-group
                label(for='unit') Unit:
                input#unit.form-control(type='text' placeholder='Unit....')
              input.btn.btn-primary(type='submit' onclick='alert_ingre()' value='submit')
          // Modal footer
          .modal-footer
            button.btn.btn-danger(type='button' data-dismiss='modal') Close
    br
    // ส่วนของตาราง
    .container
      table.table.table-dark.table-striped.table-bordered.text-center
        // Nav tabs
        thead
          tr
            th ID
            th(<th='') Ingredient
            th Unit
            th Amount
            th Delete
        tbody
          tr
            td 001
            td นมข้นหวาน
            td มิลลิลิตร
            td
              | 1000
              button.btn.btn-success.btn-sm(type='button' data-toggle='modal' data-target='#myModal1')
                i.fas.fa-edit
              // The Modal
              #myModal1.modal.fade
                .modal-dialog.modal-dialog-centered
                  .modal-content
                    // Modal Header
                    .modal-header
                      h4.modal-title.text-dark แก้ไขจำนวนวัตถุดิบ
                      button.close(type='button' data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                      form(action='./action_page.php')
                        .form-group.text-dark.text-left
                          label(for='amount1') Amount:
                          input#amount1.form-control(type='number' min='1' max='100' value='0' placeholder='Amount')
                        button.btn.btn-primary(type='submit' value='submit') Submit
                    // Modal footer
                    .modal-footer
                      button.btn.btn-danger(type='button' data-dismiss='modal') Close
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 002
            td ผงโกโก้
            td ช้อนโต๊ะ
            td
              | 500
              button.btn.btn-success.btn-sm(type='button' data-toggle='modal' data-target='#myModal2')
                i.fas.fa-edit
              // The Modal
              #myModal2.modal.fade
                .modal-dialog.modal-dialog-centered
                  .modal-content
                    // Modal Header
                    .modal-header
                      h4.modal-title.text-dark แก้ไขจำนวนวัตถุดิบ
                      button.close(type='button' data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                      form(action='./action_page.php')
                        .form-group.text-dark.text-left
                          label(for='amount2') Amount:
                          input#amount2.form-control(type='number' min='1' max='100' value='0' placeholder='Amount')
                        button.btn.btn-primary(type='submit' value='submit') Submit
                    // Modal footer
                    .modal-footer
                      button.btn.btn-danger(type='button' data-dismiss='modal') Close
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 003
            td นมข้นจืด
            td มิลลิกรัม
            td
              | 1000
              button.btn.btn-success.btn-sm(type='button' data-toggle='modal' data-target='#myModal3')
                i.fas.fa-edit
              // The Modal
              #myModal3.modal.fade
                .modal-dialog.modal-dialog-centered
                  .modal-content
                    // Modal Header
                    .modal-header
                      h4.modal-title.text-dark แก้ไขจำนวนวัตถุดิบ
                      button.close(type='button' data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                      form(action='./action_page.php')
                        .form-group.text-dark.text-left
                          label(for='amount3') Amount:
                          input#amount3.form-control(type='number' min='1' max='100' value='0' placeholder='Amount')
                        button.btn.btn-primary(type='submit' value='submit') Submit
                    // Modal footer
                    .modal-footer
                      button.btn.btn-danger(type='button' data-dismiss='modal') Close
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 004
            td วิปปิ้งครีม
            td มิลลิกรัม
            td
              | 2000
              button.btn.btn-success.btn-sm(type='button' data-toggle='modal' data-target='#myModal5')
                i.fas.fa-edit
              // The Modal
              #myModal5.modal.fade
                .modal-dialog.modal-dialog-centered
                  .modal-content
                    // Modal Header
                    .modal-header
                      h4.modal-title.text-dark แก้ไขจำนวนวัตถุดิบ
                      button.close(type='button' data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                      form(action='./action_page.php')
                        .form-group.text-dark.text-left
                          label(for='amount5') Amount:
                          input#amount5.form-control(type='number' min='1' max='100' value='0' placeholder='Amount')
                        button.btn.btn-primary(type='submit' value='submit') Submit
                    // Modal footer
                    .modal-footer
                      button.btn.btn-danger(type='button' data-dismiss='modal') Close
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 005
            td น้ำตาลทรายแดง
            td กรัม
            td
              | 1000
              button.btn.btn-success.btn-sm(type='button' data-toggle='modal' data-target='#myModal6')
                i.fas.fa-edit
              // The Modal
              #myModal6.modal.fade
                .modal-dialog.modal-dialog-centered
                  .modal-content
                    // Modal Header
                    .modal-header
                      h4.modal-title.text-dark แก้ไขจำนวนวัตถุดิบ
                      button.close(type='button' data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                      form(action='./action_page.php')
                        .form-group.text-dark.text-left
                          label(for='amount6') Amount:
                          input#amount6.form-control(type='number' min='1' max='100' value='0' placeholder='Amount')
                        button.btn.btn-primary(type='submit' value='submit') Submit
                    // Modal footer
                    .modal-footer
                      button.btn.btn-danger(type='button' data-dismiss='modal') Close
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 006
            td น้ำตาลทราย
            td ถ้วยตวง
            td
              | 1000
              button.btn.btn-success.btn-sm(type='button' data-toggle='modal' data-target='#myModal7')
                i.fas.fa-edit
              // The Modal
              #myModal7.modal.fade
                .modal-dialog.modal-dialog-centered
                  .modal-content
                    // Modal Header
                    .modal-header
                      h4.modal-title.text-dark แก้ไขจำนวนวัตถุดิบ
                      button.close(type='button' data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                      form(action='./action_page.php')
                        .form-group.text-dark.text-left
                          label(for='amount7') Amount:
                          input#amount7.form-control(type='number' min='1' max='100' value='0' placeholder='Amount')
                        button.btn.btn-primary(type='submit' value='submit') Submit
                    // Modal footer
                    .modal-footer
                      button.btn.btn-danger(type='button' data-dismiss='modal') Close
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 007
            td ไข่ไก่
            td ฟอง
            td
              | 400
              button.btn.btn-success.btn-sm(type='button' data-toggle='modal' data-target='#myModal8')
                i.fas.fa-edit
              // The Modal
              #myModal8.modal.fade
                .modal-dialog.modal-dialog-centered
                  .modal-content
                    // Modal Header
                    .modal-header
                      h4.modal-title.text-dark แก้ไขจำนวนวัตถุดิบ
                      button.close(type='button' data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                      form(action='./action_page.php')
                        .form-group.text-dark.text-left
                          label(for='amount8') Amount:
                          input#amount8.form-control(type='number' min='1' max='100' value='0' placeholder='Amount')
                        button.btn.btn-primary(type='submit' value='submit') Submit
                    // Modal footer
                    .modal-footer
                      button.btn.btn-danger(type='button' data-dismiss='modal') Close
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 008
            td ผงชาเขียว
            td กรัม
            td
              | 1000
              button.btn.btn-success.btn-sm(type='button' data-toggle='modal' data-target='#myModal9')
                i.fas.fa-edit
              // The Modal
              #myModal9.modal.fade
                .modal-dialog.modal-dialog-centered
                  .modal-content
                    // Modal Header
                    .modal-header
                      h4.modal-title.text-dark แก้ไขจำนวนวัตถุดิบ
                      button.close(type='button' data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                      form(action='./action_page.php')
                        .form-group.text-dark.text-left
                          label(for='amount9') Amount:
                          input#amount9.form-control(type='number' min='1' max='100' value='0' placeholder='Amount')
                        button.btn.btn-primary(type='submit' value='submit') Submit
                    // Modal footer
                    .modal-footer
                      button.btn.btn-danger(type='button' data-dismiss='modal') Close
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 009
            td ครีมสด
            td มิลลิลิตร
            td
              | 1000
              button.btn.btn-success.btn-sm(type='button' data-toggle='modal' data-target='#myModal10')
                i.fas.fa-edit
              // The Modal
              #myModal10.modal.fade
                .modal-dialog.modal-dialog-centered
                  .modal-content
                    // Modal Header
                    .modal-header
                      h4.modal-title.text-dark แก้ไขจำนวนวัตถุดิบ
                      button.close(type='button' data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                      form(action='./action_page.php')
                        .form-group.text-dark.text-left
                          label(for='amount10') Amount:
                          input#amount10.form-control(type='number' min='1' max='100' value='0' placeholder='Amount')
                        button.btn.btn-primary(type='submit' value='submit') Submit
                    // Modal footer
                    .modal-footer
                      button.btn.btn-danger(type='button' data-dismiss='modal') Close
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 0010
            td นมสด
            td มิลลิกรัม
            td
              | 400
              button.btn.btn-success.btn-sm(type='button' data-toggle='modal' data-target='#myModal4')
                i.fas.fa-edit
              // The Modal
              #myModal4.modal.fade
                .modal-dialog.modal-dialog-centered
                  .modal-content
                    // Modal Header
                    .modal-header
                      h4.modal-title.text-dark แก้ไขจำนวนวัตถุดิบ
                      button.close(type='button' data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                      form(action='./action_page.php')
                        .form-group.text-dark.text-left
                          label(for='amount4') Amount:
                          input#amount4.form-control(type='number' min='1' max='100' value='0' placeholder='Amount')
                        button.btn.btn-primary(type='submit' value='submit') Submit
                    // Modal footer
                    .modal-footer
                      button.btn.btn-danger(type='button' data-dismiss='modal') Close
            td
              button.btn.btn-danger(type='button') Delete
    script(src='alert.js')
