doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Page Menu
    // Bootstrap CSS
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/9f82b43210.js' crossorigin='anonymous')
  body(style='background: pink')
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      ul.navbar-nav.mr-auto.navbar-light
        li.nav-item.active
          .nav-item.dropdown
            button.btn.btn-dark(type='button' data-toggle='dropdown')
              i.fas.fa-bars
            .dropdown-menu.bg-dark(style='text-align: left; width: 267px; height: 744px; margin-left: -17px; ')
              a.navbar-brand.text-light
                br
                img(src='https://i.pinimg.com/originals/01/a2/f6/01a2f6fb22f674549fc40a6efa3e9c98.png' alt='logo' style='width:75px; padding-left: 25px;')
                |                 Staff Name: Mint
                br
                br
              a.dropdown-item(style='color: black;' href='/ingredient')
                img(src='https://i.pinimg.com/originals/3d/ec/73/3dec73eefb1eb4fdae1a7a0e49b5c936.png' alt='logo' style='width: 45px; margin-left: 10px;')
                | -->ข้อมูลวัตถุดิบ
              hr(width='200px' size='5' color='white')
              a.dropdown-item(style='color: black;' href='/index')
                img(src='https://i.pinimg.com/originals/19/b3/b3/19b3b369892b34d4c4367bd6494529a4.png' alt='logo' style='width: 45px; margin-left: 10px;')
                | -->ข้อมูลของหวาน
              hr(width='200px' size='5' color='white')
              a.dropdown-item(style='color: black;' href='/cashier')
                img(src='https://i.pinimg.com/originals/93/c6/be/93c6be305c1d7d3a0dd02993ff031f69.png' alt='logo' style='width: 45px; margin-left: 10px;')
                | -->ข้อมูลการขาย
              hr(width='200px' size='5' color='white')
              a.dropdown-item(style='color: black;' href='/cook')
                img(src='https://i.pinimg.com/originals/98/82/ec/9882ec514a7646b304d06f8f42a15a0c.png' alt='logo' style='width: 45px; margin-left: 10px;')
                | -->ข้อมูลฝ่ายห้องครัว
              hr(width='200px' size='5' color='white')
              a.dropdown-item(style='color: black;' href='#')
                img(src='https://i.pinimg.com/originals/5c/44/92/5c44929ceecbafc93b5bf1320aeb574f.png' alt='logo' style='width: 45px; margin-left: 10px;')
                | -->ข้อมูลการจัดส่ง
              hr(width='200px' size='5' color='white')
              br
              .container-sm
                button.btn.btn-danger.btn-block(type='button') Logout
        li.nav-item
          a.nav-link(href='ingredient.html') ตารางจัดการข้อมูลวัตถุดิบ
        li.nav-item
          a.nav-link(href='topping.html') ตารางจัดการข้อมูลท็อปปิ้ง
        li.nav-item
          a.nav-link(href='menu.html') ตารางจัดการข้อมูลเมนูของหวาน
      // Brand/logo
      a.navbar-brand MamaPenguin
      img(src='https://i.pinimg.com/originals/13/b9/9a/13b99aab8bc10571cb6d0fc155f05a12.png' alt='logo' style='width:40px;')
    .container.p-3.my-3
      h1.text-black.text-center ตารางจัดการข้อมูลเมนูของหวาน
      hr(width='45%' style='border: 2px solid rgb(250, 247, 247);')
    // ส่วนของ การกด +add แล้วจะขึ้น Modal ขึ้นมาให้กรอกข้อมูลเพิ่มรายการวัตถุดิบ
    .container
      // Button to Open the Modal
      button.btn.btn-primary(type='button' data-toggle='modal' data-target='#myModal')
        | +Add Menu
    // The Modal
    #myModal.modal.fade
      .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title เพิ่มรายการเมนูของหวาน
            button.close(type='button' data-dismiss='modal') ×
          // Modal body
          .modal-body
            .form-group
              label(for='name') Name:
              input#name.form-control(type='text' placeholder='Name Menu')
            .form-group
              label(for='detail') Detail:
              input#detail.form-control(type='text' placeholder='Detail of Menu')
            .form-group
              label(for='price') Price:
              input#price.form-control(type='number' min='1' max='1000' value='0' placeholder='Price Menu')
            .form-group
              label(for='Atopping') Topping:
              input#Atopping.form-control(type='text' placeholder='Topping of Menu')
              br
              input#Atopping_1.form-control(type='text' placeholder='Topping of Menu')
              br
              input#Atopping_2.form-control(type='text' placeholder='Topping of Menu')
            .form-group
              input.form-control-file.border(type='file' name='file')
            button.btn.btn-primary(type='submit' onclick='alert_menu()' value='submit') Submit
          // Modal footer
          .modal-footer
            button.btn.btn-danger(type='button' data-dismiss='modal') Close
    br
    // ส่วนของตาราง
    .container
      table.table.table-dark.table-striped.table-bordered.text-center
        // Nav tabs
        thead
          tr
            th ID
            th Recipe ingredient
            th Recipe topping
            th Menu
            th Price (Baht)
            th Delete
        tbody
          tr
            td 001
            td น้ำตาลทราย 1 ช้อนโต๊ะ,ผงชาเขียว 10 ช้อน
            td มาร์ชเมลโล่ 5 ก้อน,ผงชาเขียว 3ช้อน,ผงไมโล 3ช้อน
            td Kakigori
            td 125
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 002
            td น้ำตาลทราย 1 ช้อนโต๊ะ,ไข่ไก่ 25 ฟอง
            td สตรอเบอร์รี่ 5 ก้อน,บราวนี่ 5ก้อน,ผงไมโล 3ช้อน
            td Waffle
            td 120
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 003
            td น้ำตาลทรายแดง 100 กรัม, นมข้นจืด 80 มิลลิลิตร
            td ไอศกรีม 1 ลูก, นูเทลล่า 2 ช้อน, บราวนี่ 5 ก้อน
            td Granita
            td 50
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 004
            td นมข้นหวาน 75 มิลลิลิตร, ผงโกโก้ 5 ช้อนโต๊ะ
            td มาร์ชเมลโล่ 5 ก้อน,บราวนี่ 5 ก้อน,สตรอเบอร์รี่ 5 ลูก
            td Cake Ice-cream
            td 200
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 005
            td นมข้นหวาน 30 มิลลิลิตร, ผงโกโก้ 5 ช้อนโต๊ะ
            td มาร์ชเมลโล่ 5 ก้อน, นูเทลล่า 2 ช้อน, บราวนี่ 5 ก้อน
            td Ice-cream Green tea
            td 45
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 006
            td นมข้นหวาน 80 มิลลิลิตร,ไข่ไก่ 20 ฟอง
            td สตรอเบอร์รี่ 5 ก้อน,บราวนี่ 5ก้อน,ผงไมโล 3ช้อน
            td Pancake
            td 99
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 007
            td นมสด 100 มิลลิลิตร,ไข่ไก่ 20 ฟอง
            td สตรอเบอร์รี่ 5 ก้อน,บราวนี่ 5ก้อน,นูเทลล่า 3ช้อน
            td
              | Pudding/td>
            td 65
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 008
            td นมข้นหวาน 180 มิลลิลิตร,ไข่ไก่ 20 ฟอง
            td สตรอเบอร์รี่ 5 ก้อน,มาร์ชเมลโล่ 5ก้อน,ไอศกรีม 2ก้อน
            td Pie
            td 125
            td
              button.btn.btn-danger(type='button') Delete
          tr
            td 009
            td นมสด 200 กรัม, นมข้นหวาน 380 มิลลิลิตร
            td สตรอเบอร์รี่ 5 ลูก, นูเทลล่า 2 ช้อน, บราวนี่ 5 ก้อน
            td Bingsu
            td 125
            td
              button.btn.btn-danger(type='button') Delete
    script(src='alert.js')
