body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.listItem {
  list-style-type: none;
  background: #efefef;
  margin-bottom: 10px;
  padding: 10px;
}

.complete {
  text-decoration: line-through;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 2rem;
  margin: auto;
  background-color: #f3f3f3;
}